.page-content {
	max-width: var(--store-page-width);
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.top-area {
	position: relative;
	overflow-y: hidden;
}

.breadcrumbs {
	padding-top: 20px;
	padding-bottom: 3px;
	color: #56707f;
	font-size: 12px;
	font-weight: normal;
}

.breadcrumbs > span {
	color: #8f98a0;
	unicode-bidi: isolate;
}

h1 {
	font-weight: normal;
	color: white;
	font-size: 26px;
	line-height: 32px;
	text-overflow: ellipsis;
	word-break: break-word;
	padding-bottom: 14px;
}

.game-page_background {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	margin-inline: auto;
	width: 100%;
	height: 100%;
	min-width: 800px;
	max-width: 2300px;
	z-index: -1;
	-webkit-mask-image: linear-gradient(90deg, transparent 4%, black 30%, black 70%, transparent 96%);
	mask-image: linear-gradient(90deg, transparent 4%, black 30%, black 70%, transparent 96%);
	background: radial-gradient(1000px 500px at 23% top, hsl(213 53% 31% / 1), rgba(0, 0, 0, 0));
}

.game-page_background img.game-colour {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	filter: blur(60px);
	opacity: 0.5;
	-webkit-mask-image: linear-gradient(180deg, black 200px, transparent 700px);
	mask-image: linear-gradient(180deg, black 200px, transparent 700px);
	mix-blend-mode: color;
}

.game-page_background img.game-texture {
	width: 100%;
	height: auto;
	filter: saturate(0.1) opacity(0.2);
	-webkit-mask-image: linear-gradient(180deg, black 38%, rgba(0, 0, 0, 0.5) 98%);
	mask-image: linear-gradient(180deg, black 38%, rgba(0, 0, 0, 0.5) 96%);
	mix-blend-mode: lighten;
}

.game-highlights {
	display: flex;
	flex-direction: row-reverse;
	column-gap: 16px;
	backdrop-filter: blur(7px);
	background: linear-gradient(to right, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.4) 100%);
	padding-bottom: 12px;
}

.game-background-glow {
	background: radial-gradient(800px 120px at 50% bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.game-highlights .right-column {
	width: 375px;
	flex-grow: 0;
	flex-shrink: 0;
}

.game-highlights .right-column img {
	width: 375px;
	height: unset;
}

.game-highlights .right-column .detail {
	margin-top: 16px;
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.game-highlights .right-column .detail-key {
	text-transform: uppercase;
	font-size: 11px;
	color: #798a95;
}

.game-highlights .right-column .detail-value {
	line-height: 18px;
	font-size: 13px;
	color: #8f98a0;
}

.game-highlights .left-column {
	max-width: 824px;
	min-width: 0;
	width: auto;
	flex-grow: 1;
	flex-shrink: 1;

	background: #000;
}

@media screen and (max-width: 910px) {
	.game-highlights {
		width: auto;
		height: auto;
		flex-direction: column;
	}

	.game-highlights .right-column {
		width: auto;
		height: auto;
	}
}

@media screen and (max-width: 500px) {
	.game-highlights .right-column img {
		display: block;
		width: 100%;
	}
}

ul.tags {
	list-style-type: none;
}

.tags {
	display: flex;
	column-gap: 2px;
	row-gap: 3px;
	font-size: 11px;
}

.tags li {
	line-height: 19px;
	padding: 0 7px;
	color: #67c1f5;
	background-color: rgba(103, 193, 245, 0.2);
	cursor: pointer;
	border-radius: 2px;
	max-width: 200px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.tags li:hover {
	color: #ffffff;
	background: linear-gradient(135deg, #67c1f5 0%, #417a9b 100%);
}

.middle-page {
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
	gap: 16px;
}

.middle-page .left-column {
	margin-top: 16px;
	width: 65%;
}

.middle-page .right-column {
	margin-top: 16px;
	width: 33%;
}

.middle-page .right-column section {
	background: linear-gradient(90deg, rgba(0, 0, 0, 0.5) 5%, rgba(0, 0, 0, 0.65) 95%);
	backdrop-filter: blur(7px);
	padding: 16px;
	margin-bottom: 8px;
	margin-top: 0;
}

.middle-page .right-column .game-details .detail {
	color: #8f98a0;
	line-height: 20px;
	font-size: 12px;
}

.middle-page .right-column .game-details .detail-key {
	color: #798a95;
	text-transform: uppercase;
	font-size: 11px;
}

.detail + .linkbar {
	margin-top: 14px;
}

.game-details .linkbar {
	min-height: 17px;
	padding-top: 4px;
	padding-inline-start: 8px;
	padding-bottom: 4px;
	line-height: 17px;
	background: rgba(103, 193, 245, 0.1);
	color: #67c1f5;
	border-radius: 1px;
	display: block;
	margin-bottom: 2px;
	font-size: 12px;
}

.game-details .linkbar > span {
	padding-inline: 3.5px;
}

.game-details a.linkbar:hover {
	color: #ffffff;
	background: linear-gradient(135deg, #67c1f5 0%, #417a9b 100%);
}

.game-details .linkbar > img:not([alt="External"]) {
	max-width: 12px;
	max-height: 12px;
	padding-inline-end: 4px;
	vertical-align: middle;
	filter: invert(); /*to make the black icon white*/
}


h2 {
	font-size: 14px;
	color: #fff;
	margin: 0 0 10px;
	font-weight: normal;
	padding-top: 2px;
	line-height: 26px;
	background-image: url("/steam_assets/maincol_gradient_rule.png");
	background-repeat: no-repeat;
	background-position: bottom left;
}

.middle-page p {
	min-height: .15em;
	line-height: 1.5em;
	margin: 0.5em 0;

	font-size: 14px;
	font-weight: normal;

	color: #acb2b8;
}

.coming-area {
	color: #d5d6d8;
	margin-bottom: 28px;
	background: linear-gradient(135deg, rgba(64, 120, 152, 0.4) 10%, rgba(102, 192, 244, 0.4) 100%);
	box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.4);
	border-radius: 4px;

	font-size: 13px;
}

.coming-content {
	overflow: hidden;
	padding: 12px 16px;
	min-height: 38px;
	position: relative;
}

.coming-content .not-yet {
	color: #90aabb;
}

.coming-content h2 {
	font-size: 24px;
	font-weight: normal;
	color: #d5d6d8;
	line-height: 28px;
	background: none;
	margin: 0;
}

.coming-wishlist {
	min-height: 32px;
	padding: 16px;
	color: #90a0ad;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background: linear-gradient(135deg, rgba(15, 28, 36, 0.4) 10%, rgba(0, 0, 0, 0.4) 100%);
}

.wishlist-note {
	line-height: 15px;
}


.buy-area {
	margin-bottom: 28px;
	position: relative;

	background: linear-gradient(-60deg, rgba(226, 244, 255, 0.3) 5%, rgba(84, 107, 115, 0.3) 95%);
	border-radius: 4px;
	font-weight: normal;
	font-size: 13px;
	color: #c6d4df;
	padding: 16px;
	padding-block-end: 26px;
}

.buy-area h2 {
	font-size: 21px;
	line-height: 23px;
	font-weight: normal;
	color: #ffffff;
	text-transform: unset;
	letter-spacing: inherit;
	margin: 0;
	padding: 0;
	background-image: unset;
}

.buy-action {
	height: 32px;
	background: #000;
	padding: 2px;
	border-radius: 2px;

	position: absolute;
	bottom: -17px;
	right: 16px;

	display: flex;
	align-items: center;
}

.buy-action > * {
	margin-inline-start: 2px;
}

.buy-price {
	font-size: 13px;
	padding-top: 4px;
	padding-left: 12px;
	padding-right: 12px;
}

.btn_green_steamui {
	padding: 0 15px;
	margin: 1px;
	font-size: 15px;
	line-height: 30px;

	border-radius: 2px;

	cursor: pointer;

	color: #d2efa9;
	background: linear-gradient(to right, #75b022 5%, #588a1b 95%);
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
}

.btn_green_steamui:hover {
	text-decoration: none !important;
	color: #fff;

	background: #8ed629;
	background: linear-gradient(to right, #8ed629 5%, #6aa621 95%);
}

.about img,
.about video {
	display: block;
	max-width: 100%;
}
