:root {
	--page-background: #0f1924;
	--light-fg: rgba(255, 255, 255, 0.8);
	--midlight-fg: rgba(255, 255, 255, 0.5);
}

html {
	background: var(--page-background) !important;
}

ul.games {
	max-width: 1300px;
	margin: 0 auto;
	padding: 15px 50px;
}

ul.games {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	gap: 10px;
}

ul.games > li {
	list-style-type: none;
}

.game-card {
	display: flex;
	gap: 6px;

	color: inherit;
	background: #1D2C3A;
}

.game-card:hover {
	background: #273949;
}

.game-card img {
	display: block;
	flex-shrink: 0;
	max-width: 231px;
	min-height: 0;
	aspect-ratio: 77 / 29;
}

.game-content {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	padding-top: 6px;
	font-size: 12px;
}

.game-content {
	display: flex;
	flex-grow: 1;
	padding: 7px;
	gap: 2px;
}

.game-content-column {
	display: flex;
	flex-direction: column;
	gap: 2px;
	flex: 1 1 auto;
	min-width: 0;
}

.game-info h3 {
	font-size: 16px;
	color: #FFF;
	text-overflow: ellipsis;
	overflow: hidden;
}

.game-info .tags {
	color: var(--light-fg);
	font-size: 12px;
	text-wrap: nowrap;
}

.game-info .released {
	margin-top: auto;
	color: var(--midlight-fg);
}

.game-price {
	justify-content: flex-end;
	flex: 0 0 auto;
	white-space: nowrap;
}

.game-price p {
	padding: 8px;
	background: #1D2834;
}
