:root {
	--store-page-width: 1200px;
}

* {
	margin: 0;
	padding: 0;
}

html {
	color: rgb(172, 178, 184);
}

body {
	font-family: "Motiva Sans", "Arial", "Helvetica", "Noto Sans", "Twemoji", sans-serif;
}

a {
	text-decoration: none;
	color: #66c0f4;
}

a:hover {
	color: #ffffff;
}
